{% extends '!footer.html' %}

{% block extrafooter %}

<br><br>
<div class="admonition attention">
    <p class="first admonition-title">Note</p>
    <p class="last">Let us know if you <a href="https://gitlab.com/sielerjm/microbial-bioinformatics-hub/-/issues">find an error</a> or you have a suggestion to <a href="https://gitlab.com/sielerjm/microbial-bioinformatics-hub/-/issues">improve the website</a>. You can get in touch with us <a class="footer"  href="mailto:sielerjm(at)oregonstate(dot)com">by email here</a>. Thanks!</p>
</div>

{% endblock %}
